.addit {
	font-weight: bolder;
}
.choose {
	display: flex;
	flex-direction: column;
	/* text-align: center; */
	justify-content: center;
	align-items: center;
}
.radio {
	position: relative;
	top: 35px;
	cursor: pointer;
	left: -20%;
	opacity: 0;
}
.radio:hover {
	background-color: #1e5b18;
	color: #c9b29b;
	transform: scale(1.1);
}
.denote {
	border: 3px solid #c9b29b;
	border-radius: 5px;
	padding: 14px;
	width: 60%;
	cursor: pointer;
}
.denote:hover {
	background-color: #eef1d8;
}
.searchname {
	border: 3px solid #c9b29b;
	border-radius: 5px;
	padding: 14px;
	width: 60%;
	margin-top: 12px;
}
.searchname:focus-visible {
	outline: none !important;
	border: 1px solid #eef1d8 !important;
	box-shadow: 0 0 4px;
}
button {
	margin-top: 14px;
	justify-content: center;
	cursor: pointer;
}
.chooseform {
	text-align: center;
}

.choose input[type='radio']:checked + label {
	background-color: #eef1d8;
	color: #1e5b18;
	outline: none !important;
	border: 3px solid #eef1d8 !important;
	box-shadow: 0 0 4px;
}

.choose input[type='radio']:focus:not(:checked) + label {
	outline: 3px solid #c9b29b;
}
