.addit {
	font-weight: bolder;
}
.choose {
	display: flex;
	flex-direction: column;
	/* text-align: center; */
	justify-content: center;
	align-items: center;
}
.radio {
	position: relative;
	top: 35px;
	cursor: pointer;
	left: -20%;
	opacity: 0;
}

.denote {
	border: 3px solid var(--color-accent-primary);
	border-radius: 5px;
	padding: 14px;
	width: 60%;
	cursor: pointer;
}
.denote:hover {
	background-color: var(--color-accent-secondary-alt);
	border: 3px solid var(--color-accent-secondary);
}
.searchname {
	border: 3px solid var(--color-accent-primary);
	border-radius: 5px;
	padding: 14px;
	width: 60%;
	margin-top: 12px;
}
.searchname:focus-visible {
	outline: none !important;
	border: 2px solid var(--color-accent-secondary) !important;
	box-shadow: 0 0 4px;
}
button {
	margin-top: 14px;
	justify-content: center;
	cursor: pointer;
}
.chooseform {
	text-align: center;
}

.choose input[type='radio']:checked + label {
	background-color: var(--color-accent-secondary-alt);
	outline: none !important;
	border: 2px solid var(--color-accent-secondary) !important;
	box-shadow: 0 0 4px;
}

.choose input[type='radio']:focus:not(:checked) + label {
	background-color: var(--color-accent-secondary-alt);
	border: 3px solid var(--color-accent-secondary);
}
