.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.ListItem-checkbox {
	accent-color: var(--color-accent-primary);
}

.ListItem-label {
	margin-left: 0.2em;
}
